<template>
  <div id="add-comments">
    <h2 class="pb-3">Ajoute un commentaire !</h2>
    <section class="row">
      <v-form @submit.prevent="submitForm()" class="col-md-12 text-center">
        <v-text-field
          for="username"
          type="text"
          :rules="usernameRules"
          label="Prénom"
          required
          name="username"
          v-model="comment.username"
          class="pt-0"
          color="success"
        />

        <v-textarea
          for="content"
          filled
          label="Ecrivez un commentaire"
          type="textarea"
          :rules="contentRules"
          name="content"
          maxlength="220"
          full-width
          id="content"
          counter
          v-model="comment.content"
          color="success"
        />

        <v-btn small type="submit">Valider</v-btn>
      </v-form>
    </section>
  </div>
</template>

<script>
export default {
  name: "AddComments",
  props: {
    post: {
      default: () => [{}]
    }
  },
  data() {
    return {
      usernameRules: [
        v => !!v || "Merci de remplir ce champs",
        v =>
          (v && v.length <= 16) ||
          "Votre nom doit être inférieur à 16 caractères"
      ],
      contentRules: [v => !!v || "Merci de remplir ce champs"],
      comment: {
        username: "",
        content: ""
      }
    };
  },
  methods: {
    submitForm() {
      this.$store.dispatch("addComment", {
        comment: this.comment,
        routeParam: this.post.id
      });
    }
  }
};
</script>

<style lang="scss">
$green: #60ca60d8;
$green-dark: #449644;
$black: #000000;
$grey: #525252be;

#add-comments {
  ul {
    list-style: none;
    font-size: 15px;
  }
  .v-application .primary--text,
  .v-application .error--text {
    caret-color: $green !important;
  }
}
</style>