<template>
  <div id="show-comments">
    <h2 class="pb-5 pt-3 mb-4">Commentaires</h2>
    <div style="max-height: 200px; overflow-y: scroll;" class="col-md-8">
      <div v-b-scrollspy:scrollspy-nested v-for="(item, i) in post.comments" :key="`${i}-${item}`">
        <ul pills vertical class="mb-5 mx-0 px-0">
          <li id="username-date">{{ item.username }} - {{ item.date | formatDate }}</li>
          <li>{{ item.content }}</li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "ShowComments",
  props: {
    post: {
      default: () => [{}]
    }
  }
};
</script>

<style lang="scss">
$green: #60ca60d8;
$green-dark: #449644;
$black: #000000;
$grey: #525252be;

#show-comments {
  ul {
    list-style: none;
    font-size: 15px;

    #username-date {
      font-weight: 600;
      font-style: italic;
    }
  }
}
</style>